@import url('variables.css');
@import url('additional.css');


header {
    background-image:url("https://wallpaperaccess.com/full/1884665.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150% cover;
    background-position: 50% 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}


.shadow {
    position: absolute;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    z-index: 0;
}

.inner {
    max-width: 900px;
}

.moveBtns {
    z-index: 100;
}

.moveBtns > a {
    cursor: pointer;
}

.moveBtns h2:hover {
    color: var(--hover-color);
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

header h2 {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

header .mainInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

header .mainInfo h1 { 
    margin: 0;
}

body > header > div.mainInfo > h1:nth-child(1) {
    border-radius: 5px;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 50px;
    background: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
}

body > header > div.mainInfo > h1:nth-child(2) span {
    color: var(--hover-color);
}

.footer {
    background-color: var(--bg-color);
    background-size: cover;
    width: 100%;
    min-height: 150px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.footer > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.contactInfo {
    margin-left: 10px;
}

.contactInfo p {
    margin: 0;
}

.icons {
    margin-right: 10px;
    cursor: pointer;
}

.icons svg {
    margin: 15px;
}


.rotate {
    user-select: none;
}
.rotate:hover {
    animation: .2s rotation ease-in-out;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }

  33% {
      transform: rotate(10deg);
  }

  66% {
    transform: rotate(-10deg);
  }

  100% {
        transform: rotate(0deg);
  }
}

a {
    all: unset;
    cursor: pointer;
}

@media (max-width:600px) {
    header {
        background-position: unset;
        background-attachment:unset;
        background-size: cover;
    }
}

@media (min-width: 1600px) {
    header {
        background-size: cover;
    }
}