@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('variables.css');


body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Indie Flower', cursive;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--bg-color);
  border-radius: 2em;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 2em;
}